@model QLTHPT.ModelDB.THONGTINLUONG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3><strong>Chi Tiết Thông Tin Đào Tạo</strong></h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Thông Tin Đào Tạo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TTL_MA)
        </dd>
        <dt>
            Ngày Nhận Lương
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TTL_NGAYNHANLUONG)
        </dd>

        <dt>
            Hệ Số Lương
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TTL_HESOLUONG)
        </dd>

        <dt>
            Bậc Lương
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BACLUONG.BL_TEN)
        </dd>

        <dt>
            Cán Bộ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANBO.CB_HOTEN)
        </dd>

        <dt>
            Ngạch Lương
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGACHLUONG.NL_TEN)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.TTL_MA }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
