@model QLTHPT.ModelDB.KHENTHUONG

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><strong>Chi Tiết Thông Tin Khen Thưởng</strong></h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KT_MA)
        </dd>
        <dt>
            Thành Tích:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KT_THANHTICH)
        </dd>

        <dt>
            Ngày Khen Thưởng:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KT_NGAYKHENTHUONG)
        </dd>

        <dt>
            Ghi Chú:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KT_GHICHU)
        </dd>

        <dt>
            Tên Cán Bộ:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANBO.CB_HOTEN)
        </dd>

        @* <dt>
            Tên Học Sinh:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HOCSINH.HS_HOTEN)
        </dd>*@

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.KT_MA }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
