@model QLTHPT.Models.HOCSINH

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>HOCSINH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HS_HOTEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HS_HOTEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HS_GIOITINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HS_GIOITINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HS_NGAYSINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HS_NGAYSINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HS_TONGIAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HS_TONGIAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DANTOC.DT_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DANTOC.DT_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOP.LOP_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOP.LOP_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUANHUYEN.QH_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUANHUYEN.QH_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINHTHANH.TT_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTHANH.TT_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XAPHUONG.XP_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XAPHUONG.XP_TEN)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
