@model QLTHPT.Models.HOCSINH

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>HOCSINH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HS_HOTEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HS_HOTEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HS_GIOITINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HS_GIOITINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HS_NGAYSINH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HS_NGAYSINH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HS_TONGIAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HS_TONGIAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DANTOC.DT_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DANTOC.DT_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LOP.LOP_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOP.LOP_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUANHUYEN.QH_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUANHUYEN.QH_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TINHTHANH.TT_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TINHTHANH.TT_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.XAPHUONG.XP_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XAPHUONG.XP_TEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HS_MA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
