@model QLTHPT.ModeDB.LOP

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><strong>Chi Tiết Lớp</strong></h3>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Lớp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOP_MA)
        </dd>
        <dt>
            Lớp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LOP_TEN)
        </dd>

        <dt>
            Khối
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHOIs.KHOI_TEN)
        </dd>

        <dt>
            Năm Học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAMHOC.NH_NAMHOC)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.LOP_MA }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
