@model QLTHPT.Models.THONGTINDAOTAO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>THONGTINDAOTAO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CANBO.CB_HOTEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANBO.CB_HOTEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HINHTHUC.HT_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HINHTHUC.HT_TEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TTDT_MA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
