@model QLTHPT.Models.KYLUATCB

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KYLUATCB</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KLCB_NGAY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KLCB_NGAY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KLCB_HINHTHUC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KLCB_HINHTHUC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANBO_CB_MA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANBO_CB_MA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KLCB_MA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
