@model QLTHPT.ModelDB.UpdateImage

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><strong>Chi Tiết Hình Ảnh</strong></h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Hình Ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            Image Url
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image_url)
        </dd>

        <dt>
            Tên Hình Ảnh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_im)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
