@model QLTHPT.Models.CHITIET_CHUCVU

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>CHITIET_CHUCVU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CT_CV_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CT_CV_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CANBO.CB_HOTEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CANBO.CB_HOTEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHUCVU.CV_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUCVU.CV_TEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CT_CV_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
