@model IEnumerable<QLTHPT.Models.CHITIETDANHGIA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CTDG_NGAYDG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HOCSINH.HS_HOTEN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SODANHGIA.SDG_DIEM)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CTDG_NGAYDG)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HOCSINH.HS_HOTEN)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SODANHGIA.SDG_DIEM)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CTDG_MA }) |
            @Html.ActionLink("Details", "Details", new { id=item.CTDG_MA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CTDG_MA })
        </td>
    </tr>
}

</table>
