@model QLTHPT.ModelDB.CANBO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h3><strong>Chi Tiết Thông Tin Cán Bộ</strong></h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Cán Bộ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CB_MA)
        </dd>
        <dt>
            Tên Cán Bộ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CB_HOTEN)
        </dd>

        <dt>
            Giới Tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CB_GIOITINH)
        </dd>

        <dt>
            Địa Chỉ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CB_DIACHI)
        </dd>

        <dt>
            Ngày Sinh
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CB_NGAYSINH)
        </dd>

        <dt>
            CMND
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CB_CMND)
        </dd>

        <dt>
            Cơ Quan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COQUAN.CQ_TEN)
        </dd>

        <dt>
            Chức Vụ
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHUCVU.CV_TEN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = Model.CB_MA }) |
    @Html.ActionLink("Quay Lại", "Index")
</p>
